<html>
  <head>
    <title>Messager</title>
    <script src="/static/jquery-2.1.1.min.js"></script>
    <style type="text/css">
    .chatBox {
      outline: dotted;
      outline-color: #FFFF00
    }
    .header {
      color: #0000FF
    }
    li {
      list-style: none;
    }
    </style>
    <script>
    $(function() {

      makeid = function() {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for( var i=0; i < 5; i++ )
              text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
      }

      var sender = '{{sender}}';

      update_messages = function() {
        $.get("/api/messages", function(data) {
          data = $.parseJSON(data);
          $("#chatBox ul").html('');
          for (var i = data.length - 1; i >= 0; i--) {
            message = data[i];
            console.log(message);
            $("#chatBox ul").append('<li><code>' + message[1] + '</code>:  ' + message[0] + '</li>');
          };
        });
      }

      send_message = function() {
        var message = $("#message").val();
        if (message.length == 0) return;
        var data = {'sender': sender, 'message': message};
        $.post("/api/send", data, function(data) {
          update_messages();
        });
      }

      $("#send").click(function() {
        send_message();
      });

      $('#message').keypress(function (e) {
        if (e.which == 13) {
          send_message();
          $("#message").val('');
        }
      });

      update_messages();

      setInterval(update_messages(), 1000);
    });
    </script>
  </head>
  <body>
    <h1 class="header"> Tor Chat </h1>
    <div id="chatBox">
      <ul>
      </ul>
    </div>
    
      <input type="text" id="message" placeholder="Message" />
      <button id="send">Send</button>
  </body>
</html>

<!-- <html>
    <head>
      <title>Cheeper - better than Twitter</title>
    </head>
    <body>
      <h1>Cheeper</h1>
      <form action='/api/cheep' method="POST">
        Name:
        <input name="name" type="text" /> 
        Cheep:
        <input name="cheep" type="text" maxlength="76" /> 
        <input type="submit" />
      </form>
    <div id="feed">
        <h2> Cheeps </h2>
        {% for cheep in cheeps %}
        <div class="cheep">
            <b>{{ cheep[0] }}</b>
            <p>{{ cheep[2] }}</p>
        </div>
          {% endfor %}
    </div>
    </body>
</html> -->